html {
  scroll-behavior: smooth;
}

#vid {
  position: fixed;
  width: auto;
  z-index: -1;
  margin-top: -80px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 21, 21);
  background-size: contain;
}

#nav-menu {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-family: lato, sans-serif;
  position: fixed;
  top: 0;
  background-color: rgb(24, 21, 21);
}

#navbar11 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}

#navbar11 > div > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#navbar11 > div {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #039be5;
}

#navbar11 > div:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 254, 254, 0.75);
}

#nav-menu > div {
  color: white;
  font-size: 20px;
}

#navbar11 > div > a:hover {
  color: white;
}

#home-div {
  margin: auto;
  margin-top: 70px;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#about-title {
  color: white;
  width: 60%;
  margin: auto;
  font-size: 45px;
  text-align: center;
  font-family: lato, sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#content {
  margin: auto;
  margin-top: 50px;
  width: 70%;
  color: white;
  font-family: lato, sans-serif;
}

.home-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

#content > div:nth-child(2) {
  box-sizing: border-box;
  padding: 15px;
  width: 50%;
  margin-left: -50px;
  border-radius: 15px;
  background-color: transparent;
}

#user-detail-name {
  margin-top: 15px;
  font-size: 50px;
}

#position {
  margin-top: 5px;
  font-size: 30px;
}

#position {
  overflow: hidden;
  border-right: 0.15em solid #039be5;
  white-space: nowrap;
  animation: typing 3s infinite, blink-caret 0.75s linear infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #039be5;
  }
}

#user-detail-intro {
  font-size: 20px;
  margin-top: 15px;
  word-spacing: 3px;
  line-height: 26px;
  font-family: lato, sans-serif;
}

#location {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-family: lato, sans-serif;
}

#location > img {
  margin-right: 15px;
  width: 32px;
  height: 28px;
  border-radius: 100%;
}

#location > p {
  font-size: 20px;
}

#resume-2 {
  padding: 5px;
  margin-top: 5%;
  border: 1px solid white;
  width: 24.33%;
  border-radius: 5px;
}

#resume-link-2 {
  color: white;
  text-decoration: none;
  font-size: 26px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

@media all and (min-width: 721px) and (max-width: 1024px) {
  #navbar11 {
    width: 85%;
  }

  #about-title {
    font-size: 35px;
    width: 80%;
  }

  #content {
    padding: 15px;
  }

  #user-detail-intro {
    font-size: 19px;
  }

  .home-img {
    width: 250px;
    height: 250px;
    margin-left: 50px;
  }

  #content > div:nth-child(2) {
    width: 100%;
    border-radius: 12px;
    margin-left: 0px;
  }

  #user-detail-name {
    margin-top: 10px;
    font-size: 38px;
  }

  #position {
    font-size: 22px;
  }

  #content > div:nth-child(2) > p:nth-child(5) {
    font-size: 16px;
    margin-top: 10px;
    word-spacing: 2px;
    line-height: 26px;
  }

  #location {
    margin-top: 10px;
  }

  #location > img {
    width: 28px;
    height: 25px;
  }

  #location > p {
    font-size: 16px;
  }

  #resume-2 {
    width: 33.33%;
  }
}

@media all and (min-width: 480px) and (max-width: 720px) {
  #nav-menu {
    height: 60px;
  }

  #navbar11 {
    width: 98%;
  }

  #nav-menu > div {
    font-size: 18px;
  }

  #home-div {
    margin-top: 60px;
    flex-direction: column;
  }

  #about-title {
    font-size: 40px;
  }

  #content {
    width: 80%;
  }

  #user-detail-intro {
    font-size: 16px;
  }

  #content > div:nth-child(1) {
    text-align: center;
  }

  .home-img {
    width: 225px;
    height: 225px;
    margin-left: 0px;
  }

  #content > div:nth-child(2) {
    padding: 10px;
    width: 93%;
    border-radius: 10px;
    margin-left: 50px;
  }

  #user-detail-name {
    margin-top: 5px;
    font-size: 35px;
  }

  #position {
    margin-top: 5px;
    font-size: 25px;
  }

  #content > div:nth-child(2) > p:nth-child(5) {
    font-size: 16px;
    margin-top: 5px;
    word-spacing: 2px;
    line-height: 20px;
  }

  #location {
    margin-top: 5px;
  }

  #location > img {
    width: 25px;
    height: 22px;
  }

  #location > p {
    font-size: 16px;
  }

  #resume-2 {
    width: 27%;
  }

  #resume-link-2 {
    font-size: 23px;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  #nav-menu {
    height: 50px;
  }

  #navbar11 {
    padding: 0px;
    width: 100%;
  }

  #navbar11 > div {
    padding: 5px 4px;
    padding-bottom: 6px;
    border-radius: 5px;
  }

  #nav-menu > div {
    font-size: 15px;
  }

  #navbar11 > div > a {
    font-size: 12px;
  }

  #home-div {
    margin-top: 50px;
    flex-direction: column;
  }

  #about-title {
    font-size: 30px;
  }

  #content {
    width: 85%;
  }

  #user-detail-intro {
    font-size: 16px;
  }

  .home-img {
    width: 200px;
    height: 200px;
  }

  #content > div:nth-child(2) {
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    margin-left: 25px;
  }

  #content > div:nth-child(2) > div:nth-child(1) > h1 {
    font-size: 30px;
  }

  #user-detail-name {
    margin-top: 5px;
    font-size: 30px;
  }

  #position {
    margin-top: 5px;
    font-size: 19px;
  }

  #content > div:nth-child(2) > p:nth-child(5) {
    font-size: 15px;
    margin-top: 8px;
    word-spacing: 2px;
    line-height: 20px;
  }

  #location {
    margin-top: 5px;
    font-family: lato, sans-serif;
  }

  #location > img {
    margin-right: 8px;
    width: 20px;
    height: 16px;
  }

  #location > p {
    font-size: 15px;
  }

  #resume-2 {
    width: 31%;
  }

  #resume-link-2 {
    font-size: 20px;
  }
}
