* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(/images/84768.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 98vh;
}

#vid {
  position: fixed;
  width: 100%;
  margin-top: -50px;
  z-index: -1;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  position: sticky;
  width: 100%;
  height: 40px;
  font-family: lato, sans-serif;
}

#navbar11 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-right: 5px;
}

#navbar11 > div > a {
  text-decoration: none;
  color: white;
}

#navbar11 > div {
  padding: 3px 8px;
  border-radius: 5px;
}

#navbar11 > div:hover {
  cursor: pointer;
  background-color: #fd7c1e;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

#navbar > div {
  color: white;
  font-size: 20px;
}

#navbar11 > div > a:hover {
  color: black;
}

#content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 60px;
  height: 500px;
  color: white;
  font-family: lato, sans-serif;
}

#content > div:nth-child(1) {
  padding: 15px;
  width: 50%;
  margin-left: 80px;
  background-color: #5cdb933b;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

#content > div:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.089);
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

#content > div:nth-child(1) > p:nth-child(2) {
  margin-top: 15px;
  font-size: 50px;
}

#content > div:nth-child(1) > p:nth-child(3) {
  margin-top: 5px;
  font-size: 30px;
}

#location {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-family: lato, sans-serif;
}

#location > img {
  margin-right: 15px;
  width: 32px;
  height: 28px;
  border-radius: 100%;
}

#location > p {
  font-size: 20px;
}

#content > div:nth-child(1) > p:nth-child(5) {
  font-size: 20px;
  margin-top: 15px;
  word-spacing: 3px;
  line-height: 26px;
  width: 85%;
  font-family: lato, sans-serif;
}

#content > div:nth-child(2) > img {
  margin-right: 0px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
