#skill3 {
  width: 25%;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
}

#skill3 > p {
  color: white;
  font-size: 45px;
  font-family: lato, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#pro {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  font-family: lato, sans-serif;
}

#pro > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 50px;
}

#div11 > img {
  width: 450px;
  height: 250px;
  border-radius: 10px;
}

#div11 > img:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

#div12 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

#div12 > button {
  height: 32px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #fe461e;
}

#div12 > button:hover {
  transform: scale(1.1);
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

#div12 > button > a {
  text-decoration: none;
  font-size: 19px;
  color: white;
}

#prjname {
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

#prjdec {
  text-align: center;
  color: white;
  font-size: 16px;
  width: 55%;
}

#prjlan {
  text-align: center;
  color: white;
  font-size: 18px;
}

@media all and (min-width: 721px) and (max-width: 1024px) {
  #skill3 {
    width: 38%;
    margin-top: 60px;
  }

  #skill3 > p {
    font-size: 35px;
  }

  #pro {
    gap: 25px;
  }

  #pro > div {
    gap: 25px;
  }

  #div11 > img {
    width: 320px;
    height: 220px;
  }
}

@media all and (min-width: 480px) and (max-width: 720px) {
  #skill3 {
    width: 60%;
    margin-top: 50px;
  }

  #skill3 > p {
    font-size: 40px;
  }

  #pro {
    display: grid;
    margin-top: 60px;
    gap: 50px;
  }

  #pro > div {
    gap: 25px;
  }

  #div11 > img {
    width: 250px;
    height: 120px;
  }

  #div12 {
    gap: 25px;
  }

  #div12 > button {
    height: 28px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  #div12 > button > a {
    font-size: 16px;
  }

  #prjname {
    font-size: 25px;
    margin-top: -15px;
  }

  #prjdec {
    font-size: 15px;
    width: 50%;
    margin-top: -15px;
  }

  #prjlan {
    font-size: 16px;
    margin-top: -15px;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  #skill3 {
    width: 45%;
    margin-top: 40px;
    border-radius: 5px;
  }

  #skill3 > p {
    font-size: 30px;
  }

  #pro {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(1, fr);
  }

  #pro > div {
    row-gap: 10px;
  }

  #div11 > img {
    width: 240px;
    height: 120px;
    border-radius: 5px;
  }

  #div12 {
    display: grid;
    gap: 15px;
  }

  #div12 > button {
    height: 25px;
    padding: 5px 15px;
    padding-bottom: 22px;
    border-radius: 5px;
  }

  #div12 > button > a {
    font-size: 16px;
  }

  #div2 {
    margin-top: 40px;
  }

  #prjname {
    font-size: 24px;
    margin-top: 0px;
  }

  #prjdec {
    font-size: 15px;
  }

  #prjlan {
    font-size: 16px;
  }
}
