#github-streak-stats {
  margin: auto;
  margin-top: 80px;
  width: 70%;
  text-align: center;
}

#github-streak-stats > img {
  width: 60%;
}

@media all and (min-width: 721px) and (max-width: 1024px) {
  #github-streak-stats {
    margin-top: 45px;
    width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 720px) {
  #github-streak-stats > img {
    width: 70%;
  }

  #github-streak-stats {
    text-align: center;
    min-height: 0px;
    margin-top: 50px;
    width: 100%;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  #github-streak-stats {
    min-height: 0px;
    margin-top: 30px;
    width: 85%;
  }

  #github-streak-stats > img {
    width: 95%;
  }
}
